.questions {
  padding: 0 0 78px;

  &__wrapper {
    position: relative;
    padding: 70px 0 0;
  }

  &__title {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-weight: 700;
    line-height: 46.8px;
    max-width: 800px;
    margin: 0 0 40px 0;
  }

  &__img {
    position: absolute;
    top: 0;
    right: 70px;
  }

  &__text {
    max-width: 733px;
    margin: 0 0 40px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 290px;
    gap: 40px;
    align-items: start;
    margin: 0 0 40px 0;
  }

  &__btn {
    margin-top: 27px;
  }

  &__message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
    pointer-events: none;
    transition: opacity $transition, transform $transition;

    &-wrap {
      background-color: $color-white;
      border-radius: 8px;
      padding: 16px;
      max-width: 398px;
      max-height: 130px;
      box-shadow: 0 10px 60px 0 #4848481A;
      position: relative;
      margin: 0 auto;
      top: 50%;
      transform: translateY(-50%);
    }

    &::after {
      content: "";
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
    }

    &--active {
      opacity: 1;
      transform: translateY(0);
      pointer-events: all;
    }

    &-text {
      padding: 40px;

      text-align: center;
    }

    &-close {
      padding: 0;
      width: 24px;
      height: 20px;
      background-color: transparent;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 10px;
      top: 10px;
    }

    &-img {
      align-items: flex-start;
      background-color: $color-white-smoke;
      border-radius: 6px;
      display: flex;
      height: 60px;
      justify-content: center;
      width: 60px;
      overflow: hidden;


      img {
        height: 60px;
        object-fit: contain;
        width: 60px;
      }
    }
  }
}